/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Float four columns side by side */
app-movie-item {
  float: left;
  width: 50%;
  padding: 0 10px;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  app-movie-item {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.absolute-center {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
  justify-content: center;
}
